body {
  width: 80%;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

p {
  margin: 0;
}

.explanation {
  margin-top: 2em;
  margin-left: 1em;
}

.sample-language {
  margin-top: 2em;
  margin-bottom: 0;
  margin-left: 0.5em;
}
